# General modules
django >3.2,<3.3
python-decouple
pillow 
djangorestframework
coreapi==2.3.3

# Third-party modules
markdown       
django-filter 
drf-yasg[validation]
djangorestframework-simplejwt

# Deployment modules


# Email third-party modules
django-mail-templated