# General modules
django >3.2,<3.3
python-decouple
pillow 
djangorestframework
coreapi==2.3.3

# Third-party modules
markdown       
django-filter 
drf-yasg[validation]
djangorestframework-simplejwt
djoser 
django-cors-headers

# Deployment modules


# Email third-party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest==8.0.0
pytest-django==4.8.0
Faker